{% extends "admin/change_list.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link href="/static/css/adminstyle.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="admin-wrapper">
        {{ block.super }}

        <div id="admin-review_graf" class="admin-review_graf"></div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" >
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable({{data | safe}});
            var options = {
                title: 'Количество людей по городам', // - заголовок диаграммы.
                series: {0: {color: 'gray'}, 1: {color: 'black'}}, // - цвета столбцов.
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('admin-review_graf'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}