{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D-SFU</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=IBM+Plex+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="/static/css/global.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    
</head>
<body>
    <div class="wrapper">
        <main class="school-curriculum-page">
            <div id = "school-curriculum-page__button_back-page" class="school-curriculum-page__button_back-page home-button_back-page">
                <div class="home-button_back-page__content">
                    <a class="home-button_back-page__arrow"></a>
                    <a href="/" class="home-button_back-page__text">Вернуться на главную</a>
                </div>
            </div>
            <div class="school-curriculum-page__main-block school-curriculum-main-block">

                <canvas id="school-curriculum-main-block__canvas" class="school-curriculum-main-block__canvas">
                </canvas>
                <div class="school-curriculum-main-block__controller school-curriculum-main-block-controller">
                    <div id="controller__previous-item" class="school-curriculum-main-block-controller__previous-item"><div></div></div>
                    <div id="controller__next-item" class="school-curriculum-main-block-controller__next-item"><div></div></div>
                </div>
                
                {% for key, all_value in dict_school_curriculums_subjects.items %}
                <div id="school-curriculum-main-block__content-wrapper {{school_curriculum.id}}" class="school-curriculum-main-block__content-wrapper">
                    <div id="school-curriculum-main-block-content {{school_curriculum.id}}" class="school-curriculum-main-block__content school-curriculum-main-block-content">
                        <div class="school-curriculum-main-block-content__section">
                            <div class="school-curriculum-main-block-content-section__title">
                                <h2>{{key.title}}</h2>
                            </div>
                        </div>

                        <div  class="school-curriculum-main-block-content__aggregator" >
                            <div class="school-curriculum-main-block-content__controller-types-school-class" >
                                {% for type_school_class in types_school_class %}
                                    <a href="" class="school-curriculum-main-block-content-controller-types-school-class__item" data-index={{type_school_class}}> {{type_school_class}} класс </a>
                                {% endfor %}
                            </div>
                            {% for type_school_class in types_school_class %}
                                <div class="school-curriculum-main-block-content__subsection" data-index={{type_school_class}}> 
                                    <div class="school-curriculum-main-block-content-subsection__items" >
                                        <ul>  
                                            {% for value in all_value %}
                                                {% if value.school_class == type_school_class%}
                                                <a href="/subject_{{value.id}}" class="school-curriculum-main-block-content-subsection-item__title">
                                                    <li>{{value.title}}</li> 
                                                </a>                
                                                {% endif %}                    
                                            {% endfor %}
                                        </ul>   
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>    
                {% endfor %}
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.5.1/dist/gsap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/js/lib/three.js"></script>
    <script src="/static/js/lib/OrbitControls.js"></script>
    <script src="/static/js/lib/GLTFLoader.js"></script>
    <script src="/static/js/scripts/init_school_curriculum_page.js"></script>
    <script src="/static/js/scripts/school_curriculum_controller.js"></script>
    <script src="/static/js/scripts/controller_types_school_class.js"></script>
    
</body>
</html>